<div class="col">
  <div class="card" data-bs-theme="dark">
    <img src="{image}" class="card-img-top" alt="{name}" />
    <div class="card-body text-center">
      <h5 class="card-title">{name}</h5>
      <div class="img-overlay">
        <img
          src="public/imagenes/steam.png"
          class="img-chiquita"
          alt="Steam"
          width="20"
        />
      </div>
      <img
        src="public/imagenes/playstation-logotype.png"
        class="img-chiquita"
        alt="PlayStation"
        width="20"
      />
      <img
        src="public/imagenes/xbox-logo.png"
        class="img-chiquita"
        alt="Xbox"
        width="20"
      />
      <img
        src="public/imagenes/play-store.png"
        class="img-chiquita"
        alt="Playstore"
        width="20"
      />
      <a href="/game-detail.html" class="btn btn-primary">View More</a>
    </div>
  </div>
</div>
