:root {
  --AzulOSCURO: #23234b;
  --AzulMarino: #292a50;
  --Cian: #06cfce;
  --Rojo: #d3167c;
  --Blanco: #ececed;
  --CianOscuro: #0b959f;
  --CelesteOscuro: #285877;
  --AzulOtraVez: #241a44;
  --Vino: #8d155e;
}

/*logo*/
.logo:hover {
  filter: brightness(0.9);
}

/*tarjetas*/
/*tarjetas en modo blancoo!*/
.card {
  background-color: var(--Cian);
  color: black;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  transition: transform 0.3s ease;
  border: 1px solid var(--AzulOSCURO);
}
.card:hover {
  transform: scale(1.05);
}

.btn-primary {
  background-color: var(--CianOscuro);
  border: solid 1px black;
  color: black;
}

.d-flex {
  background-color: var(--Vino);
  color: black;
}
.btn-outline-success {
  color: black;
  border: solid 1px black;
}

.form-control {
  background-color: var(--Vino);
  color: black;
  border: solid 1px black;
}
/*termino el modo blancooo!*/

/*tarjetas en modo negroooo!*/
.dark-mode .card {
  background-color: var(--AzulMarino);
  color: var(--Blanco);
}
.dark-mode .btn-primary {
  background-color: var(--AzulOtraVez);
  border: solid 1px var(--CelesteOscuro);
}

.dark-mode .d-flex {
  background-color: var(--AzulOtraVez);
}

.dark-mode .btn-outline-success {
  color: var(--Blanco);
  border: solid 1px var(--CelesteOscuro);
  background-color: var(--AzulOtraVez);
}

.dark-mode .form-control {
  background-color: var(--AzulOtraVez);
  color: var(--Blanco);
  border: solid 1px var(--CelesteOscuro);
}

/*termino el modo negroooo!*/
