:root{
    --AzulOSCURO: #23234B;
    --AzulMarino: #292A50;
    --Cian: #06CFCE;
    --Rojo: #D3167C;
    --Blanco: #ECECED;
    --CianOscuro: #0B959F;
    --CelesteOscuro: #285877;
    --AzulOtraVez: #241A44;
    --Vino: #8D155E;
  }

/*logo*/
.logo:hover{
    filter: brightness(0.9);
}

/*tarjetas*/
.card{
    background-color: var(--AzulMarino);
    color: var(--Blanco);
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
  }

  .btn-primary{
background-color: var(--AzulOtraVez);

border: solid 1px var(--CelesteOscuro);
  }